@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base look roughly matching hyperswitch.io hero */
html,
body {
  height: 100%;
}

body {
  @apply bg-slate-950 text-slate-50 antialiased;
}
body {
  background: red !important;
}
